@page
@model Ben
@{
    ViewData["Title"] = "Ben's Picks";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<p>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
</p>
<div class="text-center">
    <table border="0">
        <tr>
            <th>Rating   </th>
            <th>Movie   </th>
            <th>Description   </th>
        </tr>
        <tr>
            <td>8.5</td>
            <td>Kungfu Panda</td>
            <td>A CG-animated comedy about a lazy, irreverent slacker panda, Po, who must somehow become a Kung Fu Master in order to save the Valley of Peace from a villainous snow leopard, Tai Lung. Set in the legendary world of ancient China, this is the story of Po, our unlikely hero, who enters the rigid world of Kung Fu and turning it upside down. Po ultimately becomes a Kung Fu hero by learning that if he believes in himself, he can do anything

            </td>
        </tr>
        <tr>
            <td>7.5</td>
            <td>Cars</td>
            <td>On his way to the biggest race of his life, Lightning McQueen is disconnected from his truck hauler, Mack, and winds up in Radiator Springs, a small town in Carburetor County on Route 66. McQueen damages the road and has to repair it watched by the Sheriff or Mater. As McQueen fixes it, he meets a rusty old tow truck, a pretty Porsche, a grumpy old Hudson Hornet, a Ferrari-loving Fiat, and many more nice folks. But will McQueen be able to finish the road in time for the final race of the Dinoco 400?
</td>
        </tr>
        <tr>
            <td>7.8</td>
            <td>Mulan</td>
            <td>Fearful that her ailing father will be drafted into the Chinese military, Mulan (Ming-Na Wen) takes his spot -- though, as a girl living under a patriarchal regime, she is technically unqualified to serve. She cleverly impersonates a man and goes off to train with fellow recruits. Accompanied by her dragon, Mushu (Eddie Murphy), she uses her smarts to help ward off a Hun invasion, falling in love with a dashing captain along the way.

            </td>
        </tr>
    </table>
</div>